# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

# Temp directories
nm_to_delete/
.temp/
.tmp/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment & secrets
.env
.env.production
.env.local
deploy/hardhat/.env

# Backups
backups/

# The Graph generated
deploy/subgraph/generated/

# Large files
*.zip
*.xlsx

# Hardhat cache & artifacts
cache/
artifacts/

# Uploads
uploads/